body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
}


// ======
// Link Styles
// ======

a {
  color: $text-color;
  text-decoration: underline;

  &:hover {
    color: $highlight-color;
  }
}



// ======
// Headings
// ======

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-size: 1em;
}



// ======
// Paragraphs
// ======

p,
ul {
  line-height: 1.6em;
}


// ======
// Blockquotes
// ======

blockquote {
  font-style: italic;
  border-left: 1px solid rgba($text-color, 0.1);
  padding: 0 4%;
  margin: 0;
}



// ======
// List Styles
// ======

$list-indentation: 2rem;

ul {
  margin-left: $list-indentation;
  padding: 0;
  list-style: none;

  li {

    &:before {
      display: inline-block;
      content: "\2014";
      margin-left: -$list-indentation;
      width: $list-indentation;
    }
  }
}
